# Python
__pycache__/
*.py[cod]

# Folders
temp_production_model/

# Data and Datasets
data/dataset.zip
data/steel_data/
data/kaggle_data/
!data/.gitkeep

# Models and Weights
models/*.h5
models/*.keras
*.h5
*.pb

# Environment and IDE
.ipynb_checkpoints/
venv/
.vscode/
.env